.intro {
  padding: 4rem 0;
  text-align: center;
  background-image: linear-gradient(-180deg,#0d71c6,#0982e9);
  color: white;

  a {
    color: white;
  }
}

.intro-contact {
  color: white !important;
}
